dist/
.ipynb_checkpoints/
Untitled.ipynb
examples/integrations/itk/005_32months_T2_RegT1_Reg2Atlas_ManualBrainMask_Stripped.nrrd
docs/_*
docs/.jupyterlite.doit.db
docs/.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# JupyterLite build
docs/jupyterlite/.cache/
docs/jupyterlite/.jupyterlite.doit.db
docs/jupyterlite/_output/
