*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
.cache/
Untitled.ipynb

# Compiled javascript
itkwidgets/static/

js/package-lock.json

# OS X
.DS_Store

examples/*.nrrd
examples/*.png
examples/*.mha
examples/*.tif
examples/vase.vti
examples/widget_video.webm

js/lib/ZstdDecompress/web-build/
.pytest_cache/

Pipfile
Pipfile.lock
