name: Integration tests

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest
    name: Run notebooks on treebeard
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: treebeardtech/treebeard@master
        with:
          docker-username: thewtex
          docker-password: "${{ secrets.DOCKER_PASSWORD }}"
          docker-image-name: insighttoolkit/itkwidgets
          notebooks: "examples/3DImage.ipynb"
